{% extends "./base.html" %}
{% block title %}About{% endblock %}
{% load static %}

{% block content %}
<body style="padding-bottom: 70px">
    <div class="container mt-4 w-75">
        <h1 class="text-center fs-1 fw-bold">About Kordle</h1>
        <div class="border border-dark p-3">
            <section class="mt-4 text-start pb-2 ps-4">
                <h2 class="fw-bold">Inspiration</h2>
                <p>Kordle is inspired by <strong>LoLdle</strong> and <strong>Wordle</strong>, a game where you have to guess the champion or a word.
                The game is built using the <strong>Django REST Framework</strong> for the backend, while the frontend is made with <strong>HTML, CSS, and JavaScript</strong>.</p>
            </section>

            <section class="mt-4 text-start pb-2 ps-4">
                <h2 class="fw-bold">How to Play</h2>
                <p>Enter a idol's name in the text box and click <strong>Guess</strong> to submit your answer. The game provides visual feedback through color-coded tiles:</p>
                <p><span class="text-success fw-bold">Green</span>: The category is correct.</p>
                <p><span class="text-danger fw-bold">Red</span>: The category is incorrect.</p>
                <p>Use your Kpop knowledge to try to make all the tiles turn green!</p>
            </section>

            <section class="mt-4 text-start pb-2 ps-4">
                <h2 class="fw-bold">Scoring</h2>
                <p>You earn <strong>1 point</strong> for each correctly guessed idol.</p>
                <p>Reloading the page resets the champion to a new random selection.</p>
            </section>

            <section class="mt-4 text-start pb-2 ps-4">
                <h2 class="fw-bold">Current Groups in the Game</h2>
                <p>NJZ, IVE, AESPA, LE SSERAFIM</p>
            </section>
        </div>
    </div>
</body>
{% endblock %}
