{% extends "./base.html" %}
{% block title %}About{% endblock %}
{% load static %}

{% block content %}
<body style="background-color: rgb(213, 213, 213);">
    <div class="container mt-4 w-75" style="margin-bottom: 75px;">
        <h1 class="text-center fs-1 fw-bold text-black" style="text-shadow: 1px 1px 6px white;">About Kordle</h1>
        <div class="border border-dark p-3 bg-white">
            <section class="mt-4 text-start pb-2 ps-4">
                <h2 class="fw-bold">Inspiration</h2>
                <p><strong>Kordle</strong> is inspired by <strong>LoLdle</strong> and <strong>Wordle</strong>, a game where you have to guess the champion or a word.
                This game is built using the <strong>Django REST Framework</strong> for the backend, while the frontend is made with <strong>HTML, CSS, and JavaScript</strong>.</p>
            </section>

            <section class="mt-4 text-start pb-2 ps-4">
                <h2 class="fw-bold">How to Play</h2>
                <p>Enter a idol's name in the text box and click <strong>Guess</strong> to submit your answer. The game provides visual feedback through color-coded tiles:</p>
                <p><span class="text-success fw-bold">Green</span>: The category is correct. <br> 
                   <span class="text-danger fw-bold">Red</span>: The category is incorrect. <br>
                   <span class="fw-bold">↑</span> (up arrow): The answer is higher then the guess. <br>
                   <span class="fw-bold">↓</span> (down arrow): The answer is lower then the guess.</p>
                <p>If all the tiles are green, you guessed the correct idol! An <strong>example</strong> is shown below:</p>
                <img src="{% static 'myApp/images/howtoplay.png' %}" style="width: 100%;">
                <p>Use your Kpop knowledge to guess the idol!</p>
            </section>

            <section class="mt-4 text-start pb-2 ps-4">
                <h2 class="fw-bold">Scoring</h2>
                <p>You earn <strong>1 point</strong> for each correctly guessed idol.</p>
                <p>Reloading the page resets the idol to a new random selection.</p>
            </section>

            <section class="mt-4 text-start pb-2 ps-4">
                <h2 class="fw-bold">Current Groups in the Game</h2>
                <p>NJZ, IVE, AESPA, LE SSERAFIM, BLACKPINK, TWICE, RED VELVET, (G)I-DLE, ITZY, ILLIT, KISS OF LIFE, BTS,
                    STRAY KIDS, SEVENTEEN, EXO, NCT
                </p>
            </section>

            <section class="mt-4 text-start pb-2 ps-4">
                <h2 class="fw-bold">Contact</h2>
                <p>This game was made by <strong>ryan11c</strong>, a computer science student trying to get more experience through personal projects. 
                    Feel free to contact me through <strong>ryanchoi4421@gmail.com</strong> if you have any feedback or questions!</p>
            </section>
        </div>
    </div>
</body>
{% endblock %}
