{% extends "./base.html" %}
{% block title %}LoLWordle{% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'myApp/css/home.css' %}">
<div>
    <table id="champ-table"> 
        <thead id="topRow">
            <tr>
                <th>Icon</th>
                <th>Gender</th>
                <th>Resource</th>
                <th>Attack Type</th>
                <th>Lane</th>
                <th>Genre</th>
                <th>Region</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <form class="userGuessForm">
        <input type="text" id="userInput" autocomplete="off" class="userGuessInput" oninput="showSuggestions(this.value)"
            placeholder="Enter Champion...">
        <ul class="dropdown-list" id="dropdownList"></ul>
        <button type="submit" id="submitButton">Guess</button>
    </form>
</div>
<script src="{% static 'myApp/js/home.js' %}"></script>
{% endblock %}
