{% extends "./base.html" %}
{% block title %}Login{% endblock %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
    <h1 class="text-center fs-1 fw-bold text-black" style="text-shadow: 1px 1px 6px white;">Already logged in</h1>
{% else %}
    <section class="min-vh-100" style="margin-bottom: 75px;">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center bg-white" style="border-radius: 25px; height: 600px !important;">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <div class="text-center mb-4">
                        <h1 class="display-4 fw-bold">Welcome back</h1>
                        <p class="fs-5">Sign in to save your progress!</p>
                    </div>
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="POST" action="{% url 'login' %}">
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"></div>
                        <p class="text-center h1 mb-4 fw-bold">Sign in</p>
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" class="form-control" name="username" placeholder="Enter your username" autocomplete="username" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" name="password" placeholder="Enter your password" autocomplete="current-password" required>
                        </div>
                        <button type="submit" class="btn btn-dark">Login</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'register' %}"
                        class="link-danger">Register</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endif %}
{% endblock %}
