{% extends "./base.html" %}
{% block title %}Profile List{% endblock %}
{% load static %}
{% block content %}
<body style="padding-bottom: 70px" class="background-image" background="{% static 'myApp/images/background2.jpg' %}">
    <h1 class="text-center fs-1 fw-bold text-black" style="text-shadow: 1px 1px 6px white;">Profile List</h1>
    {% if profiles %}
        <div class="row justify-content-center">
            {% for profile in profiles %}
                <div class="col-md-6 col-lg-4 d-flex justify-content-center">
                    <div class="card mb-4 bg-white border-dark" style="max-width: 400px;">
                        <div class="row g-0">
                            <div class="col-4 d-flex align-items-center">
                                {% if profile.profile_image %}
                                <img src="{{ profile.profile_image.url }}" width="200", height="200", class="img-fluid rounded-circle ps-2" alt="Profile Image">
                                {% else %}
                                <img src="{% static 'myApp/images/7ayjc8s4j2n61.png' %}" class="img-fluid rounded-circle ps-2" alt="Profile Image">
                                {% endif %}
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ profile.user.username }}</h5>
                                    <p class="card-text text-muted">@{{ profile.user.username|lower }}</p>
                                    <p class="card-text"><strong>Wins:</strong> {{ profile.wins }}</p>
                                    <p class="card-text"><small class="text-body-secondary">Last Updated: {{ profile.date_modified }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center text-muted">No profiles found.</p>
    {% endif %}
</body>
{% endblock %}
