{% extends "./base.html" %}
{% block title %}About{% endblock %}
{% load static %}

{% block content %}
<body style="padding-bottom: 70px">
    <div class="container mt-4 w-75">
        <h1 class="text-center fs-1 fw-bold">Leaderboard</h1>
        <div class="border border-dark p-3">
            {% if profiles %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Wins</th>
                    </tr>
                </thead>
                <tbody>
                    {% for profile in profiles %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ profile.user.username }}</td>
                        <td>{{ profile.wins }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="text-center text-muted">No profiles found.</p>
            {% endif %}
        </div>
    </div>

    <div class="container mt-4 w-75">
        <h1 class="text-center fs-1 fw-bold">Total Guesses</h1>
    </div>
</body>
{% endblock %}
