{% extends "./base.html" %}
{% block title %}Edit Profile{% endblock %}
{% load static %}

{% block content %}
<body style="background-color: rgb(213, 213, 213);">
    <div class="container mt-4 w-75" style="margin-bottom: 75px;">
        <h1 class="text-center fs-1 fw-bold text-black" style="text-shadow: 1px 1px 6px white;">Edit Profile</h1>
        <form method="POST" action="{% url 'update_user' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</body>
{% endblock %}