body {
    background-color: whitesmoke;
    padding-bottom: 70px;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 2px black;
}
  
.userGuessForm {
    position: relative;
    margin: 20px;
    display: flex;            
    justify-content: center;   
    align-items: center; 
}

.buttonHome {
    width: 80px;
    height: 70px;
    box-shadow: 2px 2px 8px black;
    border-radius: 10px;
    font-weight: bold;
    color: whitesmoke;
    background-color: black;
    border: none;
    transition: all 0.3s ease-in-out;
}

.buttonHome:hover{
    transform: translateY(-3px);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.8); 
}

#userInput ::placeholder{
    font-weight: bold;
}

.userGuessForm input {
    font-size: 1.2rem;
}

.userGuessForm input::placeholder {
    font-size: 1.2rem;
}

.userGuessInput {
    width: 400px;
    height: 70px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 8px black;
    margin-right: 3px;
}
  
.dropdown-list {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 150px;
    overflow-y: auto;
    width: 200px; 
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 8px black;
    list-style: none;
    padding: 0;
    display: none;
}
  
.dropdown-list li {
    padding: 8px;
    cursor: pointer;
}
  
.dropdown-list li:hover {
    background-color: #f9f9f9;
}
  
#idol-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
  
#idol-table th, 
#idol-table td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    color: white;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    max-width: 100%;
}
  
#topRow th {
    font-family: 'Lucida Sans';
    font-size: 15px;
    width: 120px;
    max-height: 50px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#icon-display {
    width: 50px;
    height: 50px;
}
  
.rotating-cell-correct {
    font-size: 20px;
    width: 100px;
    height: 100px;
    background-color: green;
    text-align: center;
    animation: rotate 0.5s;
}
  
.rotating-cell-incorrect {
    font-size: 20px;
    width: 100px;
    height: 100px;
    background-color: red;
    text-align: center;
    animation: rotate 0.5s;
}
  
@keyframes rotate {
    from {
      opacity: 0;
      transform: translateZ(100%);
    }
    to {
      opacity: 1;
      transform: translateZ(0);
    }
}
/* background animation */
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: blur(220px);
    z-index: -1;
}

.gradient {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    mix-blend-mode: screen;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}

.gradient-1 {
  background: rgb(245, 132, 224) none repeat scroll 0% 0% / auto padding-box border-box;
  width: 700px;
  height: 700px;
  animation-duration: 15s;
  opacity: 0.9;
  left: 60%;
  top: 40%;
  z-index: -2;
  animation-name: animation-gradient-1;
}

.gradient-2 {
  background: rgb(153, 235, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  width: 600px;
  height: 600px;
  animation-duration: 14s;
  opacity: 0.9;
  left: 40%;
  top: 60%;
  z-index: -1;
  animation-name: animation-gradient-2;
}

.gradient-3 {
  background: rgb(153, 0, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  width: 500px;
  height: 500px;
  animation-duration: 14s;
  opacity: 0.9;
  left: 50%;
  top: 50%;
  z-index: -3;
  animation-name: animation-gradient-3;
}

@keyframes animation-gradient-1 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(80deg) translateX(30%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(240deg) translateX(15%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
  }
}

@keyframes animation-gradient-2 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(110deg) translateX(-5%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(300deg) translateX(-10%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
  }
}

@keyframes animation-gradient-3 {
  0% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }
  20% {
    transform: translateY(-50%) translateX(-50%) translateX(20%)
      translateY(-30%);
  }
  40% {
    transform: translateY(-50%) translateX(-50%) translateX(-25%)
      translateY(-15%);
  }
  60% {
    transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
  }
  80% {
    transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }
}
